.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main img {
  width: 200px;
}

.main h2 {
  padding-top: 2em;
}

.didinput {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.didinput Button {
  margin-left: 1rem;
}