.main {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.horisontal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 30px;
  width: 100%;
  position: relative;
}

.did-content {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.did-content fieldset {
  margin-top: 40px;
}

.horisontal-divider {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
}

.qrimage {
  width: 200px;
  height: 100%;
}

.gray-text {
  display: flex;
  align-items: center;
  color: gray;
  padding: 0 20px;
  margin: 0;
  height: 60px;
}

.didinput {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.didinput Button {
  margin-left: 1rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}