.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.horisontal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 30px;
  width: 100%;
  position: relative;
}

.did-content {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 0;
  margin-right: auto;
  padding-left: 20px;
}

.did-content fieldset {
  margin-top: 40px;
}

.did-content .horisontal-divider {
  width: 100%;
  margin: 0;
  margin-top: 1em;
  border: none;
  border-top: 1px solid #ccc;
}

.qrimage {
  width: 200px;
  height: 100%;
}

.black-text {
  display: flex;
  align-items: center;
  color: black;
  padding: 0 20px;
  margin: 0;
  align-self: flex-start;
}

.didinput {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.didinput Button {
  margin-left: 1rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}